*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  max-width: 1140px;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  max-height: 534px;
  overflow-y: overlay;
  position: relative;
}

.title {
  margin-bottom: 26px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 399px;
  height: 534px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  width: 212px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
  width: 225px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}

.search-form__submit-button,
.more-button {
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
}

.button {
  display: flex;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
}

.more-button {
  width: 399px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-form__checkbox:has(:focus) {
  outline: none;
}

.search-form__label:hover {
  text-decoration: underline;
}

.button:hover {
  outline: none;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration-line: underline;
}

.search-form__submit-button:hover {
  text-decoration-line: underline;
}

.search-form__submit-button:active {
  background: #545050;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
